{erl_opts, [debug_info]}.
{deps,
 [{gun, {git, "https://github.com/ninenines/gun", {branch, master}}},
  {jsone, {git, "https://github.com/sile/jsone", {branch, master}}}
 ]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [discordant]}
]}.

{relx, [{release, {discordant, "0.1.0"}, [discordant]},
        {dev_mode, false},
        {include_erts, false},
        {extended_start_script, true}]}.
